body{
    margin: 0px;
}
#Background-image{
    height: 75vh;
    width: 100%;
    background-image: url(image/macbook_mouse.jpg);
    opacity:0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 8px;
}
.navigation{
    text-align: center;
    list-style: none;
}
.navigation li{
    margin-right: 10px;
    display: inline-block;
}
.navigation li a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}
.navmenu li a:hover{
    color:green;
     transition: color 0.8s ; 
    border-bottom: 1px solid white ;
}
.navmenu li{
    /* border-bottom: 1px solid white; */
    transition: color 2s,border-bottom 0.5s;
}
.name{
    color: white;
    font-size: 3rem ;
    padding-top: 7vh;
}
.icon li a em{
    color: white;
    padding: 10px;
    border-radius: 50%;
}
.icon li a :hover{
    box-shadow: 0px 0px 6px 4px lightgray;
}
#about{
    position: relative;
}
#about p{
    font-size: 20px;
}
#my-image{
    text-align: center;
    height: 15rem;
    width: 15rem;
    margin: auto;
    margin-top: -17vh;
}
#my-image img{
    border-radius: 50%;
    height: 120%;
}


.about-myself{
    padding: 80px;
    width: 70%;
    text-align: justify;
    color:gray;
    line-height: 28px;
    font-size: 1.5rem;
    margin: auto;
}
.text-highlight{
    color: blue;
    font-weight: bold;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* skill section */

#skills{
    height: auto;
    background-color: lightgrey;

}
.section-heading{ 
    text-align: center;
    font-size: 1.8rem;
    color: #2857a4;
    padding-top: 1px;
} 
.skill-display{
    width: 70%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;

}
.skill-progress{
    width: 11rem;
    height: 2.2rem;
    background-color: grey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;

}
.skill-name{
    font-size: 1.6rem;
    color: white;
    margin-left: 10px;
    /* vertical-align: center; */
}
.skill-progress:hover{
    box-shadow: 0px 0px 6px 6px white;
}

/* some percentage classes */
.seventy-five-percent{
    height: inherit;
    width: 75%;
}
.eighty-five-percent{
    height: inherit;
    width: 85%;
}
.sixty-percent{
    height: inherit;
    width: 60%;

}
.fifty-percent{
    height: inherit;
    width: 50%;
} 

/* some colour classes */
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.voilet{
    background-color: violet;
}
.cyan{
    background-color:purple;
}
.red{
    background-color: red;
}
.pink{
    background-color: peru;
}

/* contact section */


#portfolio{
    height: auto;
}

/* contact section */

#contact{
    height: 600px;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);

}
#contact-form-container {
    width: 50%;
}
.contact-heading-colour span{
    color: white;
}
#contact-form{
    width: 70%;
    margin-left: 20%;
}
#contact-container{
    display: flex;
}
#my-details-container {
    width: 35%;
    margin-left: 6%;
}
#contact-form input,textarea{
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#contact-form button{
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 1rem;
    font-style: italic,bold;
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
#contact-form button:hover{
    background: white;
    color:#13386fe0;
    font-style: bold,italic;
}
#my-details-container{
    color:white;
}
.gap{
    margin-right: 4px;
}

/* portfolio section */

.portfolio-projects{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}
.portfolio-image{
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.portfolio-image img{
    height: 80%;
    width: 100%;
}
.portfolio-image:hover{
    box-shadow: 0 0 20px #74ADC8;
    /* box-shadow: 0 0 20px green; */
}
.portfolio-details{
    transition: all 0.5s ease-in-out;
    position:inherit;
    /* top: 0;
    left: 0; */
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}
.portfolio-image:hover .portfolio-details {
    background-color: grey;
    color: white;
}

/* experiance section */

#experiance{
    height: auto;
}
.timeline{
    
    width: 74%;
    /* border: 2px solid black; */
    margin-bottom: 50px;
    position: relative;
}
.timeline-box{
    position: relative;
    min-height: 150px;
    width: 40%;
    left: 5%;
    /* border: 2px solid black; */
    margin: 5px;
    /* margin-top: 20px; */
}
.timeline-box:nth-child(2n){
    left: 53%;
}
.font-size{
    margin-top: -1px;
    margin-right: 5px;
    font-size: 2rem;
    color: darkblue;
}
.end-text{
    text-align:end;
}
.orange-color{
    font-size: 1.5rem;
    margin-top: -5%;
    color: orange;
}
.start-text{
    text-align: start;
}
/* h3::before{
    content: '';
    background-image: url(<i class="fab fa-google"></i>);
} */
.timeline-divider{
    position: absolute;
    height: 80%;
    width: 0%;
    border: 1px dashed lightblue;
    left: 50%;
    top: 9%;
}
.timeline-traveller{
    position: sticky;
    top: 25%;
    transform: rotate(90deg);
    z-index: 2;
    font-size: 1.5rem;
}
.timeline-box:nth-child(2n)::after{
    content: '';
    background-color: red;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 53%;
    left: -9.6%;
    border-radius: 50%;
    z-index: 1;
}
.timeline-box:nth-child(2n+1)::after{
    content: '';
    background-color: red;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 53%;
    left: 110.1%;
    border-radius: 50%;
    z-index: 1;
}
/* .timeline-box:hover{
    box-shadow: 0px 0px 6px 4px lightgrey;
} */

/* education section */

#education{
    height: auto;
    background-color: lightgrey;
}
.timeline-traveller-education{
    position: sticky;
    top: 25%;
    /* transform: rotate(90deg); */
    z-index: 2;
    font-size: 1.5rem;
    /* margin-left: -10%; */
}
/* .hoverr:hover{
    box-shadow: 0px 0px 6px 4px white;
} */
